<h1>Jobs</h1>

<a href="{% url 'application_create' %}">Neue Bewerbung anlegen</a>
<h2>Filter nach Status</h2>

<a href="{% url 'application_list' %}">Alle</a>
<a href="{% url 'application_list' %}?status=planned">Geplant</a>
<a href="{% url 'application_list' %}?status=applied">Beworben</a>
<a href="{% url 'application_list' %}?status=interview">Gespräch</a>
<a href="{% url 'application_list' %}?status=task">Aufgabe</a>
<a href="{% url 'application_list' %}?status=rejected">Absage</a>
<a href="{% url 'application_list' %}?status=accepted">Zusage</a>
<ul>
{% for application in applications %}
    <li>
        {{ application.company_name }} - {{ application.job_title }}
        <br>
        Status: {{ application.get_status_display }}
        <br>
        Bewerbungsdatum: {{ application.application_date|default:"-" }}
        <br>
        <a href="{% url 'application_update' application.pk %}">
            Bewerbung bearbeiten
        </a>
        <br>
        <a href="{% url 'application_delete' application.pk %}">Löschen</a>
    </li>
{% empty %}
    <li>No job now.</li>
{% endfor %}
</ul>